@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
* {
  font-family: "Avenir Next";
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   ----code below this line---
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
   ----code above this line---
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

*/
.page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .page-header {
    font-size: 2.0625rem;
    line-height: 2.75rem;
  }
}

.section-header {
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.25rem;
  font-weight: 700;
}

.subheader {
  font-size: 0.81rem;
  line-height: 1.13rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.body-copy {
  font-size: 0.81rem;
  line-height: 1.13rem;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .body-copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.labels,
.buttons {
  font-size: 0.63rem;
  text-transform: uppercase;
  line-height: 1.25rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .labels,
  .buttons {
    font-size: 0.75rem;
  }
}

.upload {
  border-top: 1px solid #e1e1e1;
  padding: 0 1rem;
}
.upload h2 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #afafaf;
  padding-bottom: 0.4rem;
}
@media only screen and (min-width: 768px) {
  .upload {
    padding: 0 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .upload {
    padding: 0 8rem;
    max-width: 87.5rem;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1280px) {
  .upload__body {
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;
  }
}
.upload__header {
  color: #323232;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 1.2rem 0;
}
@media only screen and (min-width: 768px) {
  .upload__header {
    font-size: 2.3rem;
    border-bottom: 1px solid #e1e1e1;
    margin: 2.5rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .upload__thumbnail {
    width: initial;
    height: 15rem;
  }
}
.upload__thumbnail img {
  width: 100%;
  border: 1px solid #afafaf;
  border-radius: 0.3rem;
}
@media only screen and (min-width: 768px) {
  .upload__thumbnail img {
    width: 50%;
  }
}
@media only screen and (min-width: 1280px) {
  .upload__thumbnail img {
    width: initial;
    height: 10rem;
  }
}
@media only screen and (min-width: 1280px) {
  .upload__forms {
    margin-left: 2rem;
    flex-grow: 1;
  }
}
.upload__forms label {
  font-size: 0.8rem;
  font-weight: 700;
  color: #afafaf;
}
.upload__forms input,
.upload__forms textarea {
  display: block;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  outline: none;
  border-radius: 0.25rem;
  padding: 0.8rem;
  background-color: #fafafa;
  width: 100%;
  height: 6rem;
  resize: none;
}
.upload__forms input::-moz-placeholder, .upload__forms textarea::-moz-placeholder {
  color: #323232;
}
.upload__forms input::placeholder,
.upload__forms textarea::placeholder {
  color: #323232;
}
.upload__forms input:active, .upload__forms input:focus,
.upload__forms textarea:active,
.upload__forms textarea:focus {
  border: 1px solid #0095ff;
}
@media only screen and (min-width: 768px) {
  .upload__forms input,
  .upload__forms textarea {
    display: flex;
    flex-basis: 74%;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1280px) {
  .upload__forms input,
  .upload__forms textarea {
    flex-basis: 69%;
    height: 5.2rem;
    width: 100%;
  }
}
.upload__forms input {
  height: 2.3rem;
}
.upload__forms-title, .upload__forms-description {
  margin-top: 0.7rem;
}
@media only screen and (min-width: 1280px) {
  .upload__forms-title, .upload__forms-description {
    margin-top: 0rem;
  }
}
.upload__forms-title input,
.upload__forms-title textarea, .upload__forms-description input,
.upload__forms-description textarea {
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}
.upload__forms-description {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 1280px) {
  .upload__forms-description {
    border-bottom: none;
  }
}
.upload__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .upload__buttons {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
.upload__buttons-publish {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .upload__buttons-publish {
    width: initial;
  }
}
.upload__buttons-publish button {
  position: relative;
  width: 100%;
  font-size: 0.73rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
  background: #0095ff;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}
.upload__buttons-publish button:hover {
  background: #0065ad;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .upload__buttons-publish button {
    height: 2.6rem;
    font-size: 0.7rem;
    width: 10rem;
  }
}
@media only screen and (min-width: 1280px) {
  .upload__buttons-publish button {
    margin: auto;
  }
}
.upload__buttons-publish button img {
  position: absolute;
  left: 0.6rem;
  top: 0.6rem;
  width: 1.1rem;
}
@media only screen and (min-width: 768px) {
  .upload__buttons-publish button img {
    top: 0.75rem;
  }
}
.upload__button-link {
  text-decoration: none;
}
.upload__cancel-link {
  color: #0095ff;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.upload__cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  font-size: 1rem;
  margin: 2rem 0;
}
@media only screen and (min-width: 768px) {
  .upload__cancel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: auto;
    margin-right: 2rem;
    height: 2.6rem;
    font-size: 0.7rem;
    width: 10rem;
    order: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .title {
    padding-top: 0;
  }
}/*# sourceMappingURL=Upload.css.map */