@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@import "../../styles/partials/global";

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  @include tablet {
    justify-content: space-between;
  }

  &__home-link {
    @include flex-center-center;
    margin: 1.5rem auto;
    width: 100vw;
    height: auto;

    @include tablet {
      width: 10rem;
    }

    &-icon {
      width: 10rem;
    }
  }

  &__search {
    &-bar {
      @include flex-center-center;
      border: 1px solid $silver;
      border-radius: 0.25rem;
      background-color: $alabaster;
      width: 82%;
      height: 2.5rem;
      flex: 1 5 5;

      @include tablet {
        width: 10rem;
      }
    }
    &-icon {
      padding: 0.25rem;
    }
    &-field {
      border: none;
      padding-left: 0.5rem;
      width: 90%;
      background-color: $alabaster;
      outline: none;
    }
  }

  &__upload-button {
    @include flex-center-center;
    position: relative;
    order: 1;
    width: 100%;

    @include tablet {
      order: initial;
      width: 10rem;
    }

    button {
      @include flex-center-center;
      margin: 1.5rem 0;
      padding: 1rem 0;
      background: $blue;
      color: $white;
      width: 100%;
      text-align: center;
      line-height: 2rem;
      border: none;
      border-radius: 0.25rem;

      img {
        position: absolute;
        left: 2rem;
      }
    }
  }

  &__profile {
    &-icon {
      @include flex-center-center;
      margin-left: auto;
      // width: 4rem;
      // height: 4rem;
      // border-radius: 50%;
      flex: 0 0 1;
    }

    &-image {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      object-position: -0.2rem;
      border-radius: 50%;
    }
  }
}
