@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@import "../../styles/partials/global";

.video-player {
  @include flex-center-center;
  background-color: $dark-black;

  video {
    width: 100vw;

    @include tablet {
      height: 24.3rem;
    }

    @include desktop {
      height: 30rem;
    }
  }
}
