@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@import "../../styles/partials/global";

.video-player {
  @include flex-center-center;
  background-color: $dark-black;

  video {
    width: 100vw;
    @include tablet {
      height: 24.3rem;
    }
  }
}

.details {
  padding: 0 1rem;

  @include tablet {
    padding: 0 2.5rem;
  }

  &__title {
    color: $black;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $mercury;

    @include tablet {
      padding-top: 1.8rem;
      font-size: 2rem;
      border-bottom: none;
    }
  }

  &__stats {
    padding: 0.9rem 0;
    border-bottom: 1px solid $mercury;
    font-size: 0.82rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include tablet {
      padding: 0.5rem 0;
    }

    img {
      margin-right: 0.8rem;
    }
  }

  &__likes,
  &__views,
  &__date {
    color: $silver;
    display: flex;
    align-items: center;
  }

  &__date,
  &__likes {
    order: 1;
    padding-top: 0.8rem;

    @include tablet {
      padding: 0;
    }
  }

  &__channel,
  &__date {
    width: 9rem;

    @include tablet {
      width: initial;
    }
  }

  &__date {
    @include tablet {
      order: 1;
      margin-left: 2rem;
    }
  }
  &__views {
    @include tablet {
      order: 1;
      margin-left: auto;
      margin-right: 2rem;
    }
  }

  &__channel {
    font-weight: 700;
    color: $black;
    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__description {
    padding: 1.1rem 0;
    font-size: 0.805rem;
    line-height: 1.09rem;
    color: $black;

    @include tablet {
      padding: 1.7rem 0 2rem 0;
      font-size: 0.87rem;
      line-height: 1.3rem;
      width: 98%;
    }
  }

  &__comments {
    font-size: 0.8rem;
    font-weight: 700;
    color: $black;
    padding-bottom: 1rem;

    @include tablet {
      font-size: 0.88rem;
      padding-bottom: 1.3rem;
    }
  }

  &__add-comment {
    &-container {
      display: flex;
      padding-bottom: 0.8rem;

      @include tablet {
        padding-bottom: 1.6rem;
      }
    }

    &-user-img {
      margin-right: 1rem;
      margin-top: 1.12rem;
      flex: 0 0 1;

      @include tablet {
        display: flex;
        align-items: flex-end;
        margin-top: 1rem;
      }

      img {
        width: 2.3rem;
        height: 2.3rem;
        object-fit: cover;
        object-position: -0.25rem;
        border-radius: 50%;
        top: 3rem;

        @include tablet {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }

    &-form-container {
      flex: 1;

      @include tablet {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      h1 {
        font-size: 0.75rem;
        color: $silver;
        padding-bottom: 0.26rem;

        @include tablet {
          flex-basis: 100%;
        }
      }

      textarea {
        box-sizing: border-box;
        border: 1px solid $mercury;
        outline: none;
        border-radius: 0.25rem;
        padding: 0.8rem;
        background-color: $alabaster;
        width: 100%;
        height: 6rem;
        resize: none;

        &::placeholder {
          color: $black;
        }

        @include tablet {
          display: flex;
          flex-basis: 74%;
          height: 2.6rem;
          overflow: hidden;
        }
      }

      button {
        position: relative;
        margin-top: 0.6rem;
        margin-bottom: 0.2rem;
        padding: 0.18rem 0 0 0.19rem;
        width: 100%;
        font-size: 0.73rem;
        font-weight: 700;
        letter-spacing: 0.03rem;
        background: $blue;
        color: $white;
        text-align: center;
        line-height: 2rem;
        border: none;
        border-radius: 0.25rem;

        @include tablet {
          @include flex-center-center;
          flex-basis: 23%;
          margin: 0 0 0 auto;
          height: 2.6rem;
          padding: 0;
          font-size: 0.7rem;
        }

        img {
          position: absolute;
          left: 0.6rem;
          top: 0.6rem;
          width: 1.1rem;

          @include tablet {
            top: 0.75rem;
          }
        }
      }
    }
  }

  &__comments-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem 0;
    width: 100%;
    border-top: 1px solid $mercury;
    font-size: 0.8rem;

    @include tablet {
      padding: 1.35rem 0;
      font-size: 0.859rem;
    }

    &:last-of-type {
      border-bottom: 1px solid $mercury;
    }

    &-user-img {
      background-color: $mercury;
      border-radius: 50%;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.2rem;
      flex-shrink: 0;
    }

    &-comment {
      padding-top: 0.5rem;
      line-height: 1.12rem;

      @include tablet {
        line-height: 1.5rem;
        width: 99%;
      }
    }

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-author {
      font-weight: 700;
      color: $black;
    }

    &-date {
      color: $silver;
    }
  }
}

.next-videos {
  padding: 1rem;

  @include tablet {
    padding: 1.8rem 2.5rem;
  }


  h2 {
    padding: 0 0 0.7rem 0;
    font-size: 0.8rem;
    color: $silver;

    @include tablet {
      padding-bottom: 1.55rem;
    }
  
  }

  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    padding: 0.3rem 0;

    @include tablet {
    padding: 0.76rem 0;

    &:first-of-type {
      padding-top: 0;
    }
    }

  }

  &__image {
    @include flex-center-center;
  }

  img {
    width: 6.5rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.3rem;

    @include tablet {
      width: 6.8rem;
    }
  }

  &__details {
    font-size: 0.8rem;
    color: $black;

    @include tablet {
      font-size: 0.86rem;
      width: 11rem;
    }


    &-title {
      padding-bottom: 0.4rem;
      font-weight: 700;
      line-clamp: 2;
      text-overflow: ellipsis;
    }
  }
}
