@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@import "../../styles/partials/global";

.video-player {
  @include flex-center-center;
  background-color: $dark-black;
}

.video {
  @include flex-center-center;

  @include tablet {
    height: 24.3rem;
  }

  @include desktop {
    height: 30rem;
    object-fit: contain;
  }

  video {
    max-height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;

    &[poster] {
      height: 100%;
      max-width: 100vw;
    }
  }
}
