@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

@import "./styles/partials/global";

.main-section {
  margin: 0 auto;
  @include desktop {
    display: flex;
    padding: 0 5rem;
    max-width: 87.5rem;
  }
}

.right-section {
  @include desktop {
    border-left: 1px solid $mercury;
  }
}
