@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@import "../../styles/partials/global";

.video-details {
  padding: 0 1rem;

  @include tablet {
    padding: 0 2.5rem;
  }

  @include desktop {
    padding-right: 0;
  }

  &__title {
    color: $black;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $mercury;

    @include tablet {
      padding-top: 1.8rem;
      font-size: 2rem;
      border-bottom: none;
    }
  }

  &__stats {
    padding: 0.9rem 0;
    border-bottom: 1px solid $mercury;
    font-size: 0.82rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include tablet {
      padding: 0.5rem 0;
    }

    img {
      margin-right: 0.8rem;
    }
  }

  &__likes,
  &__views,
  &__date {
    color: $silver;
    display: flex;
    align-items: center;

    @include desktop {
      font-size: 0.7rem;
    }
  }

  &__date,
  &__likes {
    order: 1;
    padding-top: 0.8rem;

    @include tablet {
      padding: 0;
    }
  }

  &__channel,
  &__date {
    width: 9rem;

    @include tablet {
      width: initial;
    }
  }

  &__date {
    @include tablet {
      order: 1;
      margin-left: 2rem;
    }
    @include desktop {
      margin-left: 1.8rem;
    }
  }
  &__views {
    @include tablet {
      order: 1;
      margin-left: auto;
      margin-right: 2rem;
    }
    @include desktop {
      margin-right: 1.5rem;
    }
  }

  &__channel {
    font-weight: 700;
    color: $black;
    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__likes {

    @include desktop {
      padding-right: 1.7rem;
    }
  }

  &__description {
    padding: 1.1rem 0;
    font-size: 0.805rem;
    line-height: 1.09rem;
    color: $black;

    @include tablet {
      padding: 1.7rem 0 2rem 0;
      font-size: 0.87rem;
      line-height: 1.3rem;
      width: 98%;
    }
    @include desktop {
      width: 97%;
    }
  }
}
